div{
    float: left;    /* don cho het mot dong hoac khong du cbho se xuong dong*/
    width: 250px;
    width: calc(25% - 44px); /* cach de lam cho xếp dc cả 4 thẻ vào 1 dòng
                            25% của thẻ cha trừ đi độ rộng của margin padding va border*/
    height: 400px;
    border: 1px solid black;
    *padding: 10px;
    /*padding-top: 20px;*/
    /*padding: 15px 20px 10px 25px;*/
    margin: 10px;
    /*margin-right: 15px;
    margin: 10px 15px 5px 10px;*/
    box-sizing: border-box; /* dien tich cua the tinh tu border di  vao
                               neu padding cang rong thi noi dung bi thu hep*/
    box-shadow: 0px 0px 5px red; /* đổ bóng*/
    border-radius: 20%; /* border-radius: 5px;*/
    /*display: none;    không hiển thị, block kiểu hiện hình khối*/
    opacity: 80%;     /* độ trong suốt*/
    transition: background-color,opacity 300ms; /* giúp sự chuyển đổi sang trạng thái
                                                   hover mượt mà hơn*/

}
div:hover{
    background-color: green;
    opacity: 1;
}
#div1{
    background-color: orange;
}
.Blue{
    background-color: blue;
}
.Orange{
    background-color: orange;
}
img{
    max-width: 100%;
}
