input[type=text]{
    float: left;
    width: 200px;
    color: red;
    font-size: 15px;
}
input[type=email]{
    float: left;
    width: 250px;
    color: green;
    background-color: #2aabd2;
}
input[name=password]{
    float: left;
    width: 250px;
    background-color: #3c763d;
}